h1{
  position: relative;
  text-align: left;
  font-size: 40px;
  color: white;
  background-color: #9CD37D;
  padding: 30px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
